extends layout

block content
  h1= title
  p 
    | Since Joyent Announced it's 
    a(href="http://joyent.com/migration") shutting down no.de
    |  &nbsp;service after October 31st, we are forced to move to hosting the node toolbox on our own server 
    | and our new home is at 
    a(href='http://nodetoolbox.com') http://nodetoolbox.com. 
  
  p Please update your bookmarks.  You will be redirected there in 10 seconds.
  p Thanks for using Node Toolbox.