doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
      setTimeout(function() {
        window.location = "http://nodetoolbox.com"
      }, 10000);
  body
    div.content
      block content
